
.vs/Emulator/v16/Browse.VC.opendb
Emulator/Debug/vc141.pdb
Emulator/Debug/vc141.idb
Emulator/Debug/Emulator.tlog/link.read.1.tlog
Emulator/Debug/Emulator.obj
Emulator/Debug/Emulator.log
Debug/Emulator.pdb
Debug/Emulator.ilk
Debug/Emulator.exe
.vs/Emulator/v16/.suo
